@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
}

#main {
    display: flex;
}

#sidebar {
    width: 20%;
    height: 100vh;
    min-width: 180px;
    display: flex; 
    flex-direction: column;
    /* align-items: center; */
    border-right: 1px solid #dbdbdb;
}

#sidebar>img{
    width: 103px;
    height: 29px;
    margin: 40px 0px 0px -17px;
}

#sidebar>ul {
    list-style-type: none;
    margin-top: 30px;
}

#sidebar>ul>li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

#sidebar>ul>li.Home{
    font-weight: 700;
}

#sidebar>ul>li>img{
    padding-right: 16px;
}

.main-scrollable-container {
    width: 80%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 30px;
    position: relative;
}

#stories-section{
    display: flex;
    margin: 40px 0px 0px 0px;
    justify-content: space-between;
    width: 60%;
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories-image{
    background-image: url('assets/background.svg');
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story>p{
    color: #262626;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
}

.stories-image>img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

footer{
    width: 319px;
    position: absolute;
    top: 51px;
    right: 46px;
}

#user_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_profile_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_profile_left>img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 17px;
}

#user_profile_left>div>h4{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#user_profile_left>div>p{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
}

#user_profile>a{
    color: #0095f6;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
}

#footer_suggestions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

#footer_suggestions>h5{
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#footer_suggestions>a{
    color: #262626;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

.suggestions_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions_div_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.suggestions_user_img{
    width: 32px;
    height: 32px;
    margin-left: 4px;
    border-radius: 50%;
    background: #2d2d2d;
}

.suggestions_div_left>div>h4{
    color: #262626;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.suggestions_div_left>div>p{
    color: #8e8e8e;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.suggestions_div>a{
    color: #0095f6;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    line-height: 16px;
}
#user_suggestion{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer_links>a{
    color: #c7c7c7;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

#footer_links{
    margin-top: 24px;
}

#footer_copy{
    color: #c7c7c7;
    font-size: 11px;
    line-height: 16px;
    text-decoration: uppercase;
}

.post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px 8px 5px;
    margin-top: 12px;
}

.post_header>div{
    display: flex;
    align-items: center;
}

.user_image{
    background-image: url('assets/background.svg');
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.user_image>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post{
    width: 460px;
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-top: 33px;
}

.header_username{
    margin-left: 10px;
    margin-right: 4.06px;
}

.header_time{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
}

.post_image>img{
    width: 100%;
}

.post_buttons{
    display: flex;
    width: 100%;
    height: 46px;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
}

.post_buttons>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.post_footer{
    padding-bottom: 21px;
}

.likes_count{
    color: #262626;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.caption{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
}

.translation_option{
    margin-top: 6px;
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.comment_count{
    margin-top: 5px;
    color: #8e8e8e;
    font-size: 13px;
    line-height: 18px;
}

.post_footer_comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.post_footer_comment>p{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width:1102px) {
    footer{
        display: none;
    }
    .post{
        margin-left: 5%;
    }
}